{{#partial "title"}}
    About the App Page
{{/partial}}

{{#partial "content"}}
    <div class="content" style="background-color:  #3d940a; background-size: cover; background-position: cover; text-align: center;">
        <nav class="navbar navbar-expand-lg ">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <span style="color: green;"> <strong>The Wildlife Tracker App <i class="fas fa-mask animated rotateIn infinite white"></i></strong></span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link border border-dark rounded" href="/"><span style="color: green;"><strong>HOME PAGE</strong></span> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/regular-animal-list"><span style="color: green;"><strong>REGULAR ANIMAL LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/animal-list"><span style="color: green;"><strong>ENDANGERED ANIMALS LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/sighting-list"><span style="color: green;"><strong>ANIMAL SIGHTING LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/rangers-list"><span style="color: green;"><strong>RANGERS LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/locations-list"><span style="color: green;"><strong>LOCATION LIST</strong></span></a>
                        </li>
                        <li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" style="color: green; border-color: white;" href="/add-animal"><strong>ADD REGULAR ANIMAL</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" style="color: green; border-color: white;" href="/add-endangered"><strong>ADD ENDANGERED</strong></a>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" style="color: green; border-color: white;" href="/add-sighting"><strong>ADD ANIMAL SIGHTING</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" style="color: green; border-color: white;"  href="/add-rangers"><strong>ADD WILDLIFE RANGER</strong>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" style="color: green; border-color: white;"  href="/add-locations"><strong>ADD A LOCATION</strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="views" style="background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div style="background-color:  #3d940a;">
                <div class="jumbotron text-center" style="background-color: green;">
                    <h2><strong>WELCOME TO THE ABOUT WILDLIFE TRACKER APP PAGE<i class="fas fa-users animate rotateIn infinite"></i></strong></h2>
                </div>
                <h2>Wildlife Tracker App Using Java Spark Program</h2>
                <li>This project is about Wildlife Tracker App Using Java Program, Version:11.0.17 LTS Date: 02 Feb 2024.</li>

                <li><strong>Author:</strong> Noel Shibanda</li>

                <h3>Description</h3>
                <li>This project is my week three Java IP about Wildlife Tracker App.</li>

                <h3>What is Wildlife Tracker App?</h3>
                <li>The Forest Service is considering a proposal from a timber company to clearcut a nearby forest of Douglas Fir.
                    Before this proposal may be approved, they must complete an environmental impact study. In this regard, the app has been developed.
                    The Wildlife Tracker App is a web application built to help Rangers track wildlife sightings in a specific area.
                    The application allows Rangers to record sightings of animals and endangered animals, along with relevant information such as location and Ranger details.
                    It also provides features like reporting exceptions and storing timestamps for each sighting.</li>

                <h3>BDD</h3>
                <li>Categories of Wildlife:</li>

                <li>The application tracks two categories of wildlife:</li>
                <li>Regular Animals:
                <li>Regular Animal ID</li>
                <li>Name</li>
                <li>Health: Okay or healthy</li>
                <li>Age: Adult or Middle age</li>
                </li>
                <li>Endangered Animals:
                <li>Endangered Animal ID</li>
                <li>Animal Name</li>
                <li>Health (Options: "healthy", "ill", "okay")</li>
                <li>Age (Options: "newborn", "young", "adult")</li>
                </li>
                <h3>Sightings:</h3>
                <li>When a wildlife species is spotted, a Ranger can submit a Sighting form containing the following details:</li>
                <li>ID of Regular Animal or Endangered Animal species</li>
                <li>Location (Conveyed in any manner chosen, e.g., "Zone A", "Near the River", "NE Quadrant", or latitude and longitude values)</li>
                <li>Ranger Name, badge number, contact information</li>
                <h3>Steps for the problem</h3>
                <li>Enter the details that include and not limited to:</li>
                <li>Enter Regular animals name</li>
                <li>Enter Endangered Animals:
                <li>Name</li>
                <li>Health (Options: "healthy", "ill", "okay")</li>
                <li>Age (Options: "newborn", "young", "adult")</li>
                </li>
                <li>Add a new ranger in the Database</li>
                <li>Add a new location in the Database</li>
                <li>Report/Record Sightings:
                <li>When a wildlife species is spotted, a Ranger can submit a Sighting form containing the following details:</li>
                <li>Regular animal or Endangered Animal species</li>
                <li>Location (Conveyed in any manner chosen, e.g., "Zone A", "Near the River", "NE Quadrant", or latitude and longitude values)</li>
                <li>Ranger Name: Ranger's details should include contact information, a badge number, etc.</li>
                <li>Get your output</li>
                <h2>Support and Contact Details</h2>
                <li>To be able to view the project, click on <a href="https://github.com/">https://github.com/</a></li>
                <li>For any issues,questions,ideas or concerns,kindly contact me through email: EMAIL to make a contribution to the code or for any assistance on the Wildlife Tracker App project.</li>
                <li><strong>Copyright &copy 2024 **Wildlife Tracker App @ Noel Shibanda</strong></li>

            </div>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}