{{#partial "title"}}
    The WildLife Tracker App
{{/partial}}

{{#partial "content"}}
    <div class="view" style="background-image: url('images/mountain-in-sunrise.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; position: fixed; top: 0; left: 0; width: 100%; height: 100vh;">
        <nav class="navbar navbar-expand-lg navbar-dark green fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <span style="color: green;"> <strong>The Wildlife Tracker App <i class="fas fa-mask animated rotateIn infinite white"></i></strong></span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/regular-animal-list"><span style="color: black;"><strong>REGULAR ANIMAL LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/animal-list"><span style="color: black;"><strong>ENDANGERED ANIMAL LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/sighting-list"><span style="color: black;"><strong>ANIMAL SIGHTING LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/rangers-list"><span style="color: black;"><strong>RANGERS LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/locations-list"><span style="color: black;"><strong>LOCATION LIST</strong></span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link border border-dark rounded" href="/about-app-page"><span style="color: black;"><strong>ABOUT APP PAGE</strong></span> <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="mask rgba-black-light align-items-center">
            <div class="container">
                <div class="indexRow">
                    <div class="col-md-12 mb-4 white-text text-center">
                        <h1 class="h1-responsive text-warning text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animate shake">
                            <strong style="color: green;" class="animate__animated animate__bounceIn fade-in animate__slower animate__delay-2s">Wildlife Animals Tracker<i class="fas fa-satellite-dish animate__animated animate__bounce animate__infinite"></i></strong>
                        </h1>
                        <h4 class="text-monospace  typeClass"><strong id="type"></strong> <i class="fas fa-bolt"></i></h4>
                        <div class="container">
                            <ul>
                                <a class="btn btn-warning btn-lg wide border-white rounded-pill shadow" style="color: black; border-color: white; margin-right: 200px;" href="/add-rangers">
                                    <strong>Add Wildlife Ranger</strong><i class="fas fa-angle-double-right"></i>
                                </a>
                                <a class="btn btn-warning btn-lg wide border-white rounded-pill shadow" style="color: black; border-color: white;" href="/add-locations">
                                    <strong>Add New Location</strong><i class="fas fa-angle-double-right"></i>
                                </a>
                            </Ul>
                            <div class="row py-0">
                                <div class="col-md-4 text-center">
                                    <div class="card h-50">
                                        <div class="view overlay">
                                            <img class="card-img-top" src="/images/lion.jpg" alt="Card image cap" style="height: 200px;">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a class="activator waves-effect waves-dark mr-4">
                                                <i class="fas fa-share-alt" style="color: green;"></i>
                                            </a>
                                            <h4 class="card-title" style="color:green;"><strong>Regular Animals</strong></h4>
                                            <hr>
                                            <a class="btn btn-warning btn-lg wide border-white rounded-pill shadow" style="color: black; border-color: white;" href="/add-animal">
                                                <strong>Add Regular Animal</strong><i class="fas fa-angle-double-right"></i>
                                            </a>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center">
                                    <div class="card h-50">
                                        <div class="view overlay">
                                            <img class="card-img-top" src="/images/elephant.jpg" alt="Card image cap" style="height: 200px;">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a class="activator waves-effect waves-dark mr-4">
                                                <i class="fas fa-share-alt" style="color: green;"></i>
                                            </a>
                                            <h4 class="card-title" style="color:green;">Endangered Animals</h4>
                                            <hr>
                                            <a class="btn btn-warning btn-lg wide border-white rounded-pill shadow" style="color: black; border-color: white;" href="/add-endangered">
                                                <strong>Add Endangered Animal</strong><i class="fas fa-angle-double-right"></i>
                                            </a>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center">
                                    <div class="card h-50">
                                        <div class="view overlay">
                                            <img class="card-img-top" src="images/binocularsview.jpg" alt="Card image cap" style="height: 200px;">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a class="activator waves-effect waves-dark mr-4">
                                                <i class="fas fa-share-alt" style="color: green;"></i>
                                            </a>
                                            <h4 class="card-title" style="color:green;">Animal Sightings</h4>
                                            <hr>
                                            <a class="btn btn-warning btn-lg wide border-white rounded-pill shadow" style="color: black; border-color: white;" href ="/add-sighting">
                                                <strong>Report/Record Sighting</strong><i class="fas fa-angle-double-right"></i>
                                            </a>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}